ul{
    list-style-type: none;
    padding: 1%;
    margin: 0;
}
.a::before{
    content:"*";
}
th,tr,td{
    border: 3px solid black;
    margin: 0px;
    padding: 10px;
}
table{
    border:3px solid black;
    margin: 0px;
    padding: 0px;
}
